      - name: Rewrite app build.gradle
        run: |
          cat <<EOF > project/app/build.gradle
          plugins {
              id 'com.android.application'
              id 'org.jetbrains.kotlin.android'
          }

          android {
              namespace "com.example.tamagotchi"
              compileSdk 34

              defaultConfig {
                  applicationId "com.example.tamagotchi"
                  minSdk 24
                  targetSdk 34
                  versionCode 1
                  versionName "1.0"
              }

              buildTypes {
                  release {
                      minifyEnabled false
                      proguardFiles getDefaultProguardFile('proguard-android-optimize.txt'), 'proguard-rules.pro'
                  }
              }

              buildFeatures {
                  compose true
              }

              composeOptions {
                  kotlinCompilerExtensionVersion "1.5.0"
              }

              // ВАЖНО: делаем Java 17 и для Java-кода
              compileOptions {
                  sourceCompatibility JavaVersion.VERSION_17
                  targetCompatibility JavaVersion.VERSION_17
              }

              kotlinOptions {
                  jvmTarget = "17"
              }
          }

          dependencies {
              def composeBom = platform("androidx.compose:compose-bom:2023.08.00")
              implementation composeBom
              androidTestImplementation composeBom

              implementation "androidx.core:core-ktx:1.13.0"
              implementation "androidx.activity:activity-compose:1.9.0"
              implementation "androidx.activity:activity-ktx:1.9.0"
              implementation "androidx.lifecycle:lifecycle-runtime-ktx:2.6.2"
              implementation "androidx.lifecycle:lifecycle-viewmodel-compose:2.6.2"

              implementation "androidx.compose.ui:ui"
              implementation "androidx.compose.material:material"
              implementation "androidx.compose.ui:ui-tooling-preview"
              implementation "androidx.compose.material:material-icons-extended"
              debugImplementation "androidx.compose.ui:ui-tooling"

              implementation "org.jetbrains.kotlinx:kotlinx-coroutines-android:1.7.3"
              implementation "com.google.code.gson:gson:2.10.1"
              implementation "androidx.work:work-runtime-ktx:2.9.0"
              implementation "com.google.mlkit:barcode-scanning:17.2.0"
          }
          EOF
